<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
  </head>
  <body>
    <div class="header">
      <nav class="header-nav">
        <a href="{% url 'index' %}" class="header-logo">
          <h3>CTIE</h3>
        </a>

        <form class="header-search">
          <input type="search" name="q" placeholder="Search for a product" />

            <button class="search-icon"  type="submit">
            <i class="fas fa-search"></i>
            </button>

        </form>

        <div class="header-options">
          {% if request.user.is_authenticated %}
            <div class="header-option">
              <a href="{% url 'profile' %}">
                <h3>{{ request.user.username.title }}</h3>
              </a>
            </div>
            <div class="header-option sign-out">
              <a href="{% url 'logout' %}">
              <h3>Sign Out</h3>
              </a>
            </div>
          {% else %}
            <div class="header-option">
            <a href="{% url 'register' %}">
              <h3>Register</h3>
            </a>
            </div>
            <div class="header-option sign-out">
              <a href="{% url 'login' %}">
              <h3>Sign In</h3>
              </a>
            </div>
          {% endif %}
          <a href="{% url 'cart' %}" class="header-option shopping-cart">
            <div class="cart-icon">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <h3>{{ cartItems }}</h3>
          </a>
        </div>
      </nav>
    </div>
      {% block content %}
        <h1>Hello World</h1>
      {% endblock %}
  </body>
</html>
