{% extends 'ctie/header.html' %}

{% block content %}
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/register-login.css' %}" />
  </head>
  <body>
    <div class="login">
      <form method="POST" action="" class="login-form">
        {% csrf_token %}
        <label>Username</label>
        <input
          class="login-input"
          type="text"
          name="username"
          placeholder="Enter your Username"
        />
        <label>Password</label>
        <input class="login-input" name="password" type="password" placeholder="Password" />
        <input class="login-btn" type="submit" value="Login">
        <span>Forgot Password?</span>
        <a href="{% url 'register' %}" class="create-account-btn">
          Create New Account
        </a>
        </form>
    </div>
  </body>
</html>
{% endblock %}